@import "_rules";

.coupon-wrapper{
    width: 80%;
    height: 80vh;
    color: white;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 10%;
    text-align: center;
    border-radius: 8px;
    h3{
        font-size: 2em;
    }
    h4{
       font-size: 1.4em; 
       margin-bottom: 3%;
    }
    p{
        width: 80%;
        margin: auto;
       margin-top: 5%; 
       margin-bottom: 5%;
    }
}

.expire{
    opacity: 18%;
    margin: 2% 0;
}

.obs{
    font-size: 12px;
}
.seeMore{
    background-color: $main-yellow;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin: auto;
    width: 35%;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-weight: 600;
}

.img-wrapper{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 0;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
    .img-gradient{
        position: absolute;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 95%, rgba(0,0,0,1) 100%);
        border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 2;
    width: 100%;
    height: 100%;
    }
    img{
        margin-top: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        position:relative;
        z-index:1;
        display:block;
        border-top-left-radius: 8px;
border-top-right-radius: 8px;
object-fit: cover;

    }
    h2{
        position: absolute;
        color: white; 
        bottom: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        left: 0;
        right: 0;
        font-size: 3em;
        text-align: center;
        color: $main-pink;
        z-index: 4;

    }
}

.chance-intro{
    width: 80%;
    margin: auto;
    margin-top: 8%;
    @extend %center;
    flex-direction: column;
    img{
        width: 80%;
        margin: 5%;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
    }
    p{
        font-size: 1rem;
        color: white;
        font-weight: 600;
        text-align: center;
    }
}

.chance-btn{
    background-color: $main-yellow;
    padding: 15px 6px;
    border-radius: 10px;
    margin: auto;
    width: 40%;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    z-index: 33;
}

