$main-pink: #FF0560;
$main-yellow: #F3CA26;
$main-black: #111118;

*{
    margin: 0;
    padding: 0;
}


#tabbar{
    background-color: $main-black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5% 0;
}

.tabbar-wrapper{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    a{
        width: 15%;
        img{
            width: 100%;
        }
    }
}

.tabbar-icon{
    fill: none;
    stroke: white;
    stroke-width: 6%;
    stroke-miterlimit: 10;
}

.tabbar a.active svg{
    fill: white;
    stroke-width: 3%;
}