$main-pink: #FF0560;
$main-yellow: #F3CA26;
$main-black: #111118;

*{
    margin: 0;
    padding: 0;
}


/* ================= TABBAR ====================*/
#tabbar{
    background-color: $main-black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.tabbar-wrapper{
    width: 80%;
    height: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}

.tabbar a svg{
    fill: none;
    stroke: white;
    stroke-width: 3.5%;
    width: 80%;
}

.tabbar a.active{
    display: flex;
    justify-content: center;

}

.tabbar a.active svg{
    fill: white;
    stroke: none;
    width: 85%;

}

/* ================= TABBAR END ====================== */


/* ================= SLIDER ====================*/
    .slider{
        display: flex;
        width: 235px; 
        flex-wrap: nowrap; 
        overflow-x: scroll; 
        transition: 0.5s ease;
        margin: 5% auto 0;
        transform: scale(0.98);
        cursor: pointer;
        scroll-snap-type: x mandatory; 
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }    

    .slide{
        margin: 5px;
        width: 200px;
        height: 100px;
        background-color: red;
        display: inline-block;
        min-width: 200px;
        scroll-snap-align: center;
        scroll-snap-stop: always; 
    }
    
    .slider::-webkit-scrollbar {
        display: none;
        
    }

    .active{
        transform: scale(1);
        transition: 0.3s ease;
        cursor: grabbing;
    }

 /* ================= SLIDER END ====================*/