/* ============ import ======================== */
/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
/* ============ import ======================== */
/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
/* ============ import ======================== */
/* ================= LOGIN ===========================*/
.toppic {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  background: #111118;
  background: linear-gradient(180deg, rgba(17, 17, 24, 0) 0%, #111118 77%, #111118 91%, #111118 100%); }
  .toppic img {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    display: block; }
  .toppic h1 {
    position: absolute;
    color: white;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: 5%;
    font-size: 3rem;
    text-align: center; }

.mdl-card {
  background-color: transparent;
  width: 90%;
  border-radius: 30px; }
  .mdl-card input {
    color: white !important; }

.firebaseui-title {
  color: white;
  border: none; }

.mdl-textfield__input {
  color: white; }

.mdl-textfield__input::placeholder {
  color: white;
  opacity: 70%; }

.mdl-button--raised.mdl-button--colored {
  background-color: #F3CA26;
  color: #111118; }

.mdl-button--primary.mdl-button--primary {
  color: #FF0560; }

.mdl-textfield__input {
  border-bottom: 1px solid white; }

.firebaseui-textfield.mdl-textfield .firebaseui-input {
  border-color: white; }

.is-upgraded .is-focused .mdl-textfield__input .firebaseui-input .firebaseui-id-email {
  border-color: #F3CA26; }

.firebaseui-idp-button {
  background-color: transparent;
  color: white;
  border: 2px solid #F3CA26;
  border-radius: 15px; }

.firebaseui-idp-text .firebaseui-idp-text-long, .firebaseui-idp-google > .firebaseui-idp-text {
  color: white; }

.mdl-textfield__label:after, .mdl-textfield__label:after {
  background-color: #F3CA26 !important; }

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #F3CA26; }

.firebaseui-label {
  color: gray; }

/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
/* ============ import ======================== */
#bar-container {
  margin-bottom: 20%;
  margin-top: 30%; }

.bar-card {
  position: relative;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  color: white;
  padding-top: 30%;
  background-position: center;
  background-size: cover;
  margin-bottom: 5%; }

.search-bar-container {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%; }

#search-bar {
  width: 80%;
  border-radius: 5px;
  border: none;
  padding: 5px; }

input::-webkit-search-cancel-button {
  position: relative;
  -webkit-appearance: none;
  background-image: url("../images/quit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 20px;
  width: 20px; }

.bar-card-gradient, .bar-card-onclick {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  bottom: 0px; }

.bar-card-gradient {
  background: linear-gradient(360deg, black 0%, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0) 100%); }

.bar-card-onclick {
  z-index: 2; }

.bar-card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  bottom: 10px;
  z-index: 9 !important; }

.bar-card-info, h2 {
  position: relative;
  z-index: 1;
  margin-left: 5%;
  margin-bottom: 5%; }

.small-dot {
  height: 5px;
  width: 5px;
  border-radius: 50px;
  background-color: #FF0560;
  margin-left: 2%;
  margin-right: 2%; }

.fav-btn, .fav-btn-rm {
  width: 20px;
  height: auto;
  position: absolute;
  right: 5%;
  width: 30px;
  height: 30px; }

#form-popup {
  background-color: #111118;
  z-index: 99999;
  position: absolute;
  top: 0;
  display: none;
  height: auto;
  width: 100%; }

.bar-form-header {
  width: 80%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px; }

.form-close-window {
  width: 10%;
  height: auto; }

#form-popup.active {
  display: block; }

#barForm {
  flex-direction: column;
  margin-bottom: 10%;
  color: #FF0560;
  transition: .5s ease; }
  #barForm input, #barForm textarea {
    width: 80%;
    margin: 1%;
    padding: 1%;
    background: none;
    border: solid 2px white;
    border-radius: 5px;
    color: white; }

textarea {
  resize: none; }

.form-text-wrapper, .form-text-wrapper-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%; }
  .form-text-wrapper img, .form-text-wrapper-space img {
    width: 20px;
    height: auto; }

.form-text-wrapper-space {
  justify-content: space-between; }

.form-text-wrapper {
  margin-top: 2%;
  margin-bottom: 2%; }
  .form-text-wrapper img {
    width: auto;
    height: 20px;
    margin-right: 8px; }

#form-space {
  width: 20% !important; }

.form-input-container {
  width: 100%; }

.form-input-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%; }

.form-days {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between; }

.form-days-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  .form-days-wrapper input {
    width: 15vw !important;
    margin-left: 5% !important; }
  .form-days-wrapper span {
    margin-left: 5%;
    font-weight: 700; }

#create-bar {
  color: #111118;
  background-color: #F3CA26;
  border-radius: 5px;
  padding: 2% 4%;
  text-decoration: none;
  font-weight: 600;
  border: none;
  margin-top: 5%; }

/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
/* ============ import ======================== */
#fav-container {
  margin-top: 17%; }

/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
/* ============ import ======================== */
* {
  margin: 0;
  padding: 0;
  font-family: din-2014, sans-serif; }

h1, h2 {
  color: white;
  font-weight: 700;
  font-style: italic; }

h2 {
  color: white;
  font-weight: 700;
  font-style: italic; }

body {
  background-color: #111118; }

/* ================= TABBAR ====================*/
#tabbar {
  display: flex;
  justify-content: center;
  background-color: #111118;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10%;
  z-index: 9999; }

.tabbar-wrapper {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .tabbar-wrapper a {
    width: 2em;
    height: 100%;
    display: flex;
    justify-content: center; }

.tabbar a svg {
  transition: .5s ease;
  fill: none;
  stroke: white;
  stroke-width: 3.5%;
  width: 80%;
  height: 80%; }

.tabbar a.active {
  display: flex;
  justify-content: center; }

.tabbar a.active svg {
  transition: .5s ease;
  fill: white;
  stroke: white;
  width: 85%; }

#bars {
  height: 1em; }

/* ================= TABBAR END ====================== */
/* ================= LOADER =========================== */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center; }

.spinner {
  border: 5px solid #F3CA26;
  border-radius: 50%;
  border-top: 5px solid #111118;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* ===================== TOPBAR ====================*/
header {
  background-color: #111118;
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%; }

.topbar-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 1.5%; }

.topbar-left {
  display: flex;
  align-items: center;
  width: 60%; }
  .topbar-left h1 {
    font-size: 3rem; }

.pic-wrapper, .pic-wrapper-overview {
  width: 25%;
  display: flex;
  align-items: center; }
  .pic-wrapper img, .pic-wrapper-overview img {
    width: 100%;
    border-radius: 50%; }
  .pic-wrapper a, .pic-wrapper-overview a {
    display: flex;
    align-items: center;
    margin-right: 20%; }

.exit {
  position: absolute;
  width: 10%;
  top: 2%;
  right: 10%;
  z-index: 999999999999999; }
  .exit img {
    width: 100%; }

/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
#profiledata {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 15%; }
  #profiledata img {
    width: 50%;
    border-radius: 50%;
    margin: auto; }
  #profiledata h3 {
    margin-top: 5%;
    font-size: 1.5rem; }

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  margin-top: 2%; }
  .profile-info img {
    margin: 0;
    width: 10% !important;
    height: 30px; }
  .profile-info p {
    width: 80%;
    font-size: 16px; }

.sure {
  display: none; }

.show {
  display: block; }

#gohome {
  font-size: 50px;
  color: white;
  text-decoration: none; }

.delete {
  position: absolute;
  background-color: white;
  text-align: center;
  padding: 4% 6%;
  width: 70%;
  border-radius: 30px;
  margin: auto;
  left: 9%;
  top: 30%;
  z-index: 999; }

.buttons {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 5%; }

.button {
  text-align: center;
  border-radius: 10px;
  padding: 8px 0;
  background-color: #F3CA26;
  text-decoration: none;
  color: #111118; }

.show-delete, .logout {
  color: #111118;
  background-color: #F3CA26;
  border-radius: 5px;
  padding: 2% 4%;
  text-decoration: none;
  font-weight: 600; }

.logout {
  position: absolute;
  font-size: 150%;
  width: 25%;
  left: 33%;
  text-align: center;
  bottom: 20%; }

#back-btn {
  font-weight: 600; }

#back-btn, #delete-btn {
  width: 40%; }

.overlay {
  position: absolute;
  background-color: rgba(17, 17, 24, 0.7);
  width: 100%;
  height: 100%;
  top: 0; }

#show-add-bar {
  width: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  left: 0;
  right: 0;
  height: 50px;
  border-radius: 100%;
  font-size: 70px;
  background-color: #F3CA26; }

#form-popup {
  padding-top: 10%; }

/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
/* ============ import ======================== */
/* ================= SLIDER ====================*/
.slider {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.5s ease;
  margin: 2% auto 0;
  cursor: pointer;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  height: 60vw;
  max-height: 300px;
  overflow: auto; }

.slider::-webkit-scrollbar {
  display: none; }

.active {
  transform: scale(1);
  transition: 0.3s ease;
  cursor: grabbing; }

.bar-card-home {
  position: relative;
  margin: 2%;
  display: inline-block;
  min-width: 90%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding-top: 0; }

.bar-card-home h2 p {
  margin: 0;
  padding: 0; }

.bar-card-home-info {
  position: absolute;
  bottom: 0;
  width: 100%; }

.coupon {
  position: relative;
  margin: 2%;
  display: inline-block;
  width: 27.3333%;
  min-width: 27.25%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding-top: 0; }

.coupon-slider {
  height: 45vw;
  max-height: 200px; }

.coupon-card-info {
  position: relative;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  flex-direction: column;
  height: 90%;
  z-index: 1; }

.coupon-card-info h3 {
  font-size: 2em; }

.coupon-card-info p {
  color: #FF0560; }

.coupon .bar-card-gradient {
  background: linear-gradient(360deg, black 0%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.35) 65%, rgba(0, 0, 0, 0) 100%); }

.detail-view {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10; }

/* ================= SLIDER END ====================*/
/* ================= SLIDER END ====================*/
#home-container {
  margin-top: 15%; }

/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
.detailview p {
  color: white;
  margin: 0% 5% 0% 5%; }

.detailview-content {
  width: 85%;
  height: 80vh;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center; }
  .detailview-content h2 {
    margin: 0;
    padding: 0;
    color: #FF0560;
    text-align: left;
    margin: 5%; }
  .detailview-content a {
    color: white;
    text-decoration: none;
    margin: 5%; }
    .detailview-content a img {
      height: auto;
      width: 8%;
      margin-right: 2%; }

.detailview-img, .detailview-gradient {
  /* border-top-left-radius: 10px; 
  border-top-right-radius: 10px; */
  width: 100%;
  height: 35vh; }

.detailview-img {
  background-position: center;
  background-size: cover; }

.detailview-gradient {
  background: linear-gradient(360deg, black 0%, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap; }
  .detailview-gradient h1 {
    color: #FF0560;
    text-align: center;
    font-size: 35px;
    margin: 0% 5% 0% 5%; }

.detailview-info {
  margin: 5% 5% 10% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.detailview-info-content img {
  height: 30px; }

.detailview-openings {
  text-align: center;
  margin: 0% 5% 0% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.openings-content {
  width: 10vw;
  color: white;
  display: flex;
  align-items: flex-start; }

/* gradients */
/* inheritances */
#barForm, #show-add-bar, .detailview, .detailview-content a {
  display: flex;
  justify-content: center;
  align-items: center; }

/* inheritances end */
.coupon-wrapper {
  width: 90%;
  color: white;
  background-color: black;
  margin: auto;
  position: absolute;
  left: 5%;
  top: 10%;
  text-align: center;
  height: 90%;
  border-radius: 20px; }
  .coupon-wrapper h3 {
    font-size: 2em; }
  .coupon-wrapper h4 {
    font-size: 1.4em;
    margin-top: 5%; }
  .coupon-wrapper p {
    width: 80%;
    margin: auto;
    margin-top: 5%; }

.expire {
  opacity: 18%; }

.obs {
  font-size: 12px; }

.seeMore {
  background-color: #F3CA26;
  padding: 5px 10px;
  font-size: 20px;
  position: absolute;
  bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30%;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  font-weight: 600; }

.img-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }
  .img-wrapper .img-gradient {
    position: absolute;
    background: black;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 95%, black 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 2;
    width: 100%;
    height: 100%; }
  .img-wrapper img {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .img-wrapper h2 {
    position: absolute;
    color: white;
    bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    left: 0;
    right: 0;
    font-size: 3em;
    text-align: center;
    color: #FF0560;
    z-index: 4; }

.chance-intro {
  width: 80%;
  margin: auto;
  margin-top: 15%; }
  .chance-intro img {
    width: 100%; }
  .chance-intro h2 {
    text-align: center;
    font-size: 2.5rem; }
  .chance-intro p {
    font-size: 1rem;
    color: white;
    font-weight: 600; }

.chance-btn {
  background-color: #F3CA26;
  padding: 15px 6px;
  border-radius: 10px;
  margin: auto;
  width: 40%;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem; }

/* ============ import ======================== */
body {
  display: flex;
  justify-content: center;
  background-color: #09090D; }

#content {
  width: 100%;
  height: 100%;
  max-width: 500px;
  background-color: #101017; }

.page {
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
